/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

/* Container */
.container {
    width: 80%;
    margin: 30px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 30px;
}

/* Grid Layout */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

/* Grid Items */
.grid-item {
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.grid-item:hover {
    transform: scale(1.05);
}

/* Estilos para los títulos */
h2 {
    color: #007BFF;
    margin-bottom: 10px;
}

p {
    color: #333;
    line-height: 1.6;
}

/* Responsividad */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
}
